.navbar{
    background-color: black;
    color: aliceblue;
}

.navbar a{
    color: orangered;
}

body{
    background-color: midnightblue;
    color: white;
}

.table{
    color: aliceblue;
}

.table a{
    color: orangered;
}