.navbar{
    background-color: black;
    color: aliceblue;
}

.navbar a{
    color: orangered;
}

body{
    background-color: midnightblue;
    color: white;
}

.table{
    color: aliceblue;
}

.table a{
    color: orangered;
}

input,textarea{
    color: black;
}

#mode_button{
    background-image: linear-gradient(to bottom, coral, orangered 100%);
    background-color: orangered;
    border-color: coral;
    color: black;
}