.navbar{
    background-color: black;
    color: aliceblue;
}

.navbar a, .utilityButton{
    color: orangered;
}

body{
    background-color: midnightblue;
    color: white;
}

.table{
    color: aliceblue;
}

.table a{
    color: orangered;
}

input,textarea{
    color: black;
}

#mode_button{
    border-color: black;
    background-color: orangered;
    color: black;
}

.navbar a:hover, .utilityButton:hover{
    color: rgb(199, 53, 0);
}

#mode_button:hover{
    background-color: rgb(199, 53, 0);
}
