input[type=text], select, textarea {
    width: 100%;
    padding: 12px;
    border: 1px solid #ccc;
    border-radius: 4px;
    resize: vertical;
}

label {
    padding: 12px 0 12px;
    font-size: large;
    display: inline-block;
}


#mode_button{
    width: 125px;
}

.save{
    margin: 12px 0 12px 12px;
    padding: 12px 20px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    float: right;
    background-image: none;
    background-color: #04AA6D;
    color: white;
    text-shadow: none;
}

.save:hover{
    background-color: #00965f;
    color: white;
}


.post-form{
    margin: 0 20px 0;
}

#form_title{
    text-align: center;
    margin-top: 10px;
}

.utilityButton{
    float: right;
    margin-right: 20px;
}

h1{
    margin: 20px ;
}

h2{
    margin: 0 20px 0;
}

img{
    margin: 20px;
    max-width: 300px;
    max-height: 300px;
}