.navbar{
    background-color: #e3f2fd;
}

.navbar a, .utilityButton{
    color: #0d6efd;
}

.navbar a:hover, .utilityButton:hover{
    color: #004dc0;
}

#mode_button:hover{
    background-color: #004dc0;
}

